<div class="mceTmpl">
    <div class="span8">
        <h1>Title</h1>
        <p class="introduction">This is some introduction text</p>
        <div class="row">
            <div class="span8 clearfix">

            </div>
        </div>
        <div class="row">
            <div class="block  articlepage teaserblock  span4">
                <div class="border">
                    <a href="/en/about-us/news-events/press-releases/newworld-wildlife-fund-chooses-alloy/" title="Alloy Saves Bears">
                        <h2>Sub Item Title</h2>
                        <p>Subtitle.</p>
                        <img src="/contentassets/02ffd2e49e2043fa9abecc3c2a8bd07d/polarbearonice.png" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
