<div class="mceTmpl">
    <div class="span8">
        <h1>Title</h1>
        <p class="introduction">This is some introduction text</p>
        <div class="row">
            <div class="span8 clearfix">

            </div>
        </div>
        <div class="row">
            <div class="block  articlepage teaserblock  span4">
                <div class="border">
                    <h2>Sub Item Title</h2>
                        <p>Subtitle.</p>
                </div>
            </div>
        </div>

    </div>
</div>
