<!DOCTYPE html>
<html>
<head>
    <title>Editor Documenation</title>
    @model Documentation.Plugin.Models.EditorViewDocumentationViewModel

    @{
        Layout = string.Empty;
    }

</head>
<body id="documentation">
    @Html.Raw(Model.DocumentationContent)
</body>
</html>
