@import url("LayoutIcons.css");

.epiStringList .dijitTextArea {
    width: 250px;
}

.epiStringList .epiStringListError .dijitTextArea {
    border: solid 1px #d46464;
}

.Sleek .epi-dialog-landscape .dijitDialogPaneContentArea {
    height: 500px !important;
}

.Sleek .epi-dialog-landscape, .Sleek .epi-dialog-portrait, .Sleek .epi-dialog--auto-height {
    width: auto !important;
    transform: translateX(-50%);
    left: 50% !important;
}
