<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="ConfluenceApiKey" value="GNza9QgR7Pdd59Ia0RRY74D3"/>
  <add key="ConfluenceUsername" value="david.boland@nansen.com"/>
  <add key="ConfluenceBaseUrl" value="https://nansen.atlassian.net"/>

  <add key="GithubApiKey" value="2e052069035449e2904077439002f8d43cd6c35a"/>
  <add key="GithubRepositoryOwner" value="debpu06"/>
  <add key="GithubRepositoryName" value="Alloy-Demo-Project"/>
  <add key="GithubDocumentationFolder" value="Documentation" />
  <add key="GithubBranch" value="feature-editor-documentation-view" />
  <add key="GithubApiUrl" value="https://api.github.com" />
</appSettings>